
@{
    ViewData["Title"] = "Resultado";
}
<h2>TarafaA</h2>
<h2>Resultado</h2>

<h3>@Model </h3>
<div>
    <a asp-controller="A" asp-action="Marcador" class="btn btn-default">Ir para Tarefa A</a>
    <a asp-controller="B" asp-action="Marcador" class="btn btn-default">Ir para Tarefa B</a>
    <a asp-controller="C" asp-action="Marcador" class="btn btn-default">Ir para Tarefa C</a>

</div>